

  <div class='abc'>
  	<h1 class="display-3"><b>Pakistan Weather Report</b></h1>
  </div>


  <figure class='text-center'>
    <figcaption class="blockquote-footer">
      Designed by <cite title="Source Title">Asjad Naeem</cite>
    </figcaption>
  </figure>
  <!--h1 class="text-center primary"> My Weather App</h1-->

  <div class="text-center container">
  <!--a href="/home" class="btn btn-primary">Get Data</a-->
  <button class="btn btn-outline-secondary" routerLink="/setting">Karachi</button>
   <button class="btn btn-outline-secondary" routerLink="/islamabad">Islamabad</button>
   <button class="btn btn-outline-secondary" routerLink="/lahore">Lahore</button>
   <button class="btn btn-outline-secondary" routerLink="/quetta">Quetta</button>
  </div>

<div>
          